* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

:root.theme-dark {
    .theme-btn, .shuffle-btn {
        background-color: #aaa;
        color: black;
    }
    .theme-btn {
        &::after {
            content: 'Light';
        }
    }

    --clr-bg: black;
    --clr-surface: #333;
    --clr-shadow: #111;
    --clr-on-bg: white;
    --clr-on-surface: #000;
}

:root.theme-light {
    .theme-btn, .shuffle-btn {
        background-color: #000;
        color: #aaa;
    }

    .theme-btn {
        &::after {
            content: 'Dark';
        }
    }

    --clr-bg: #eee;
    --clr-surface: white;
    --clr-shadow: #aaa;
    --clr-on-bg: black;
    --clr-on-surface: #555;
}

@media screen and (max-width: 600px) {
    :root {
        font-size: 9px;
    }
}

@media screen and (max-width: 550px) {
    :root {
        font-size: 8px;
    }
}

@media screen and (max-width: 450px) {
    :root {
        font-size: 7px;
    }
}

@media screen and (max-width: 400px) {
    :root {
        font-size: 6px;
    }
}

@media screen and (max-width: 350px) {
    :root {
        font-size: 5px;
    }
}

body {
    min-height: 100vh;
    background-color: var(--clr-bg);
}

h1 {
    font-size: 5rem;
    text-align: center;
    font-family: monospace, sans-serif;
    letter-spacing: 1rem;
    margin-top: 5rem;
    color: var(--clr-on-bg);
}

.info {
    background-color: var(--clr-surface);
    padding: 3rem;
    border-radius: 6px;
    margin: 5rem auto 2rem;
    width: 80%;
    max-width: 600px;
    font-family: sans-serif;

    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2rem;
    row-gap: 1rem;

    &__label {
        font-size: 2.4rem;
        font-weight: bold;
        color: #000;
        &::after {
            content: ":";
        }
    }

    &__text {
        color: var(--clr-on-surface);
        font-size: 2.2rem;
    }
}

.shuffle-btn {
    display: block;
    margin: auto;
    padding: 1.5rem 10rem;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    border-radius: 6px;
    box-shadow: var(--clr-shadow) 0px 2px 2px;
    &:hover {
        opacity: 0.7;
    }
}

.theme-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;

    padding: 0.5rem 2rem;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: var(--clr-shadow) 0px 2px 2px;
    &:hover {
        opacity: 0.7;
    }
}

.board {
    margin: auto;
    background-color: var(--clr-surface);
    width: 50rem;
    height: 62rem;
    border-radius: 2.4rem;
    box-shadow: var(--clr-shadow) 0px 1px 2px;
    padding: 1rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    &__box {
        user-select: none;
        width: 10rem;
        height: 10rem;
        margin: 1rem;
        border-radius: 1.2rem;
        box-shadow: var(--clr-shadow) 0px 1px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        &--last {
            grid-column: 4;
        }
        cursor: pointer;

        &:hover,
        &:active {
            transform: translateY(-2px);
            opacity: 0.5;
        }
    }

    &__cell {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
        font-size: 4rem;

        &--red {
            background-color: rgb(218, 67, 67);
            color: white;
        }

        &--orange {
            background-color: orange;
            color: white;
        }

        &--blue {
            background-color: rgb(88, 88, 194);
            color: white;
        }

        &--green {
            background-color: rgb(5, 185, 5);
            color: white;
        }

        &--empty {
            background-color: var(--clr-bg);
        }
    }
}
